body
  font-family: 'Abel', sans-serif

section
  min-width: 304px
  margin: 0

hr
  border-top: 2px dashed #000
  margin: 0

.hero
  background: #F0F0F0
  img
    padding: 5px
    border: 2px dashed #000
    border-radius: 50%

  h1
    span
      display: block

      &:last-child
        font-size: .75em
        letter-spacing: 1rem
        margin-left: 1rem

.about
  background: #D4AF37

.projects
  background: #C3CED4
  a
    text-decoration: none
    color: #000

.experience
  background: #e2e88f
  table
    tr
      border-top: 1px solid black

footer
  background: #B6A78E
  color: #F0F0F0

@media (min-width: 768px)
  .hero
    background: #fff
    transition: background 2s ease-out
    &:hover
      background: #F0F0F0
    img
      padding: 5px
      border: 2px dashed #000
      border-radius: 50%

  .about
    background: #fff
    transition: background 2s ease-out
    &:hover
      background: #D4AF37

  .projects
    background: #fff
    transition: background 2s ease-out
    a
      text-decoration: none
      color: #000
    &:hover
      background: #C3CED4
    .card
      img
        opacity: 0.4
        transition: opacity 2s ease-out
      &:hover
        img
          opacity: 1

  .experience
    background: #fff
    transition: background 2s ease-out
    table
      tr
        border-top: 1px solid black
    &:hover
      background: #e2e88f


  footer
    background: #fff
    transition: color 1s linear, background 2s ease-out
    color: #000
    &:hover
      background: #B6A78E
      color: #F0F0F0